@media (min-width: 565px){
    body {
        footer {
            background-position-x: 100%;
        }
    }
}

@media (min-width: 764px){
    body {
        grid-template-rows: 26% 45% 25%;
        background: linear-gradient(180deg, #1e1f29 10%, #2f2439 125%);

        header {
            align-self: center;
            margin-top: 115px;
            h1{
                font-size: 1.3rem;
                letter-spacing: 0.55rem;
            }
        }

        main {
            justify-content: center;
            .container {
                margin: 23px 16px;

                .time {
                    height: 140px;
                    width: 148px;
                    box-shadow: 0 11px 0px -1px $very-dark-blue;

                    p {
                        letter-spacing: 0rem;
                        font-size: 70px;
                        margin: 0px auto;
                    }

                    &:before{
                        content: " ";
                        position: absolute;
                        background: $very-dark-blue;
                        width: 8px;
                        height: 12px;
                        transform: translateY(64px);
                        border-radius: 0rem 2rem 2rem 0rem;
                    }

                    &:after {
                        content: " ";
                        position: absolute;
                        background: $very-dark-blue;
                        width: 8px;
                        height: 12px;
                        transform: translate3d(140px, 64px, 10px);
                        border-radius: 2rem 0rem 0rem 2rem;
                    }
                }

                p {
                    font-size: 15px;
                    letter-spacing: 0.3rem;
                    margin-top: 25px;
                }
            }
        }

        footer {
            background-position-x: -140%;
            .icons {
                width: 15%;
            }
        }
    }
}

@media (min-width: 768px) {
    body {
        footer {
            background-position-x: 100%;
        }
    }
}