@import './reset.scss';

body {
    height: 95%;
    display: grid;
    grid-template-rows: 30% 35% 25%;
    gap: 33px;
    background: linear-gradient(180deg, $very-dark-blue 15%, $very-dark-mostly-black-purple 80%);

    &:after {
        display: block;
        content: url("../project/images/bg-stars.svg");
        position: fixed;
        z-index: -1;
    }

    header {
        align-self: self-end;
        h1 {
            color: $white;
            padding: 0px 50px;
            text-align: center;
            font-size: 1.1rem;
            text-transform: uppercase;
            letter-spacing: 0.40rem;
        }
    }

    main {
        display: flex;
        justify-content: space-between;
        padding: 22px 22px;

        text-transform: uppercase;
        color: $grayish-blue;

        .time {
            height: 66px;
            width: 70px;

            background-color: $dark-desaturated-blue;   
            border-radius: .5rem;
            margin-bottom: 15px;
            box-shadow: 0px 7px 2px -1px $very-dark-blue;

            &:before{
                content: " ";
                position: absolute;
                background: $very-dark-blue;
                width: 4px;
                height: 7px;
                transform: translateY(30px);
                border-radius: 0rem 2rem 2rem 0rem;
            }

            &:after {
                content: " ";
                position: absolute;
                background: $very-dark-blue;
                width: 4px;
                height: 7px;
                transform: translate3d(66px, 30px, 10px);
                border-radius: 2rem 0rem 0rem 2rem;
            }
            
        }

        p {
            font-size: 8px;
            letter-spacing: 0.15rem;
            text-align: center;
        }
    }

    footer {
        background-image: url("../project/images/pattern-hills.svg");
        background-size: cover;
        background-position-x: -75%;

        .icons {
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin: 99px auto 20px;
        }
        
        .attribution {
            color: $white;
            font-size: 11px;
            text-align: center;

            a {
                color: $grayish-blue;
            }
        }
    }
    
}

@import './media.scss'

