@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Red Hat Text", sans-serif;
}

body {
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30% 35% 25%;
      grid-template-rows: 30% 35% 25%;
  gap: 33px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #1e1f29), color-stop(80%, #2f2439));
  background: linear-gradient(180deg, #1e1f29 15%, #2f2439 80%);
}

body:after {
  display: block;
  content: url("../project/images/bg-stars.svg");
  position: fixed;
  z-index: -1;
}

body header {
  -ms-flex-item-align: self-end;
      -ms-grid-row-align: self-end;
      align-self: self-end;
}

body header h1 {
  color: white;
  padding: 0px 50px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.40rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 22px;
  text-transform: uppercase;
  color: #8486a9;
}

body main .time {
  height: 66px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #343650;
  border-radius: .5rem;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 7px 2px -1px #1e1f29;
          box-shadow: 0px 7px 2px -1px #1e1f29;
}

body main .time p {
  letter-spacing: 0rem;
  margin: 0px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 36px;
  font-weight: 700;
  color: #fb6087;
}

body main .time:before {
  content: " ";
  position: absolute;
  background: #1e1f29;
  width: 4px;
  height: 7px;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  border-radius: 0rem 2rem 2rem 0rem;
}

body main .time:after {
  content: " ";
  position: absolute;
  background: #1e1f29;
  width: 4px;
  height: 7px;
  -webkit-transform: translate3d(66px, 30px, 10px);
          transform: translate3d(66px, 30px, 10px);
  border-radius: 2rem 0rem 0rem 2rem;
}

body main p {
  font-size: 8px;
  letter-spacing: 0.15rem;
  text-align: center;
}

body footer {
  background-image: url("../project/images/pattern-hills.svg");
  background-size: cover;
  background-position-x: -75%;
}

body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 99px auto 20px;
}

body footer .attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

body footer .attribution a {
  color: #8486a9;
}

@media (min-width: 565px) {
  body footer {
    background-position-x: 100%;
  }
}

@media (min-width: 764px) {
  body {
    -ms-grid-rows: 26% 45% 25%;
        grid-template-rows: 26% 45% 25%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #1e1f29), color-stop(125%, #2f2439));
    background: linear-gradient(180deg, #1e1f29 10%, #2f2439 125%);
  }
  body header {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 115px;
  }
  body header h1 {
    font-size: 1.3rem;
    letter-spacing: 0.55rem;
  }
  body main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .container {
    margin: 23px 16px;
  }
  body main .container .time {
    height: 140px;
    width: 148px;
    -webkit-box-shadow: 0 11px 0px -1px #1e1f29;
            box-shadow: 0 11px 0px -1px #1e1f29;
  }
  body main .container .time p {
    letter-spacing: 0rem;
    font-size: 70px;
    margin: 0px auto;
  }
  body main .container .time:before {
    content: " ";
    position: absolute;
    background: #1e1f29;
    width: 8px;
    height: 12px;
    -webkit-transform: translateY(64px);
            transform: translateY(64px);
    border-radius: 0rem 2rem 2rem 0rem;
  }
  body main .container .time:after {
    content: " ";
    position: absolute;
    background: #1e1f29;
    width: 8px;
    height: 12px;
    -webkit-transform: translate3d(140px, 64px, 10px);
            transform: translate3d(140px, 64px, 10px);
    border-radius: 2rem 0rem 0rem 2rem;
  }
  body main .container p {
    font-size: 15px;
    letter-spacing: 0.3rem;
    margin-top: 25px;
  }
  body footer {
    background-position-x: -140%;
  }
  body footer .icons {
    width: 15%;
  }
}

@media (min-width: 768px) {
  body footer {
    background-position-x: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */